---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import posts from "../data/posts.json";
import FormattedDate from "../components/FormattedDate.astro";

type Post = {
  id: string
  content: string
  postedAt: string
  imageURL?: string
}
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<main class="flex flex-col gap-12 h-fit p-8">
  <Header/>

  <section class="flex justify-center">
    <ul class="flex flex-col gap-4 max-w-[800px]">
      {
        (posts as Post[]).map((post) => (
          <li class="border border-gray-200 rounded p-4 hover:bg-gray-100 hover:text-gray-700">
            <div class="flex flex-col gap-2">
              <p>{post.content}</p>

              {!!post.imageURL &&
                <div class="self-center"><a href={post.imageURL}>
                  <img class="rounded-lg" width={360} height={240} src={post.imageURL}
                       alt="post image"/>
                </a></div>}

              <div class="flex justify-between gap-32">
                <p class="text-gray-700 cursor-default">{post.id}</p>

                <p class="self-end cursor-default">
                  posted on
                  <FormattedDate date={new Date(post.postedAt)}/>
                </p>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</main>
</body>
</html>
