---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import {openKv} from "@deno/kv";
import FormattedDate from "../components/FormattedDate.astro";

type Post = {
  id: string
  post: {
    content: string
    postedAt: Date
    imageURL?: string
  }
}

const kv = await openKv("https://api.deno.com/databases/ec5ad8e6-aa41-47a9-ae5a-89d8cf990695/connect", {debug: true})
const posts: Post[] = []

await (new Promise(async (resolve) => {
  for await (const post of kv.list<{ content: string, postedAt: string, imageURL?: string }>({prefix: ["posts"]})) {
    posts.push({
      id: post.key.at(1) as string,
      post: {
        content: post.value.content,
        postedAt: new Date(post.value.postedAt),
        ...(!!post.value.imageURL && {imageURL: post.value.imageURL})
      }
    })
  }

  resolve(true)
}))
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<main class="flex flex-col gap-12 h-fit p-8">
  <Header/>

  <section class="flex justify-center">
    <ul class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <li class="border border-gray-200 rounded p-4 hover:bg-gray-100 hover:text-gray-700">
            <div class="flex flex-col gap-2">
              <p>{post.post.content}</p>

              {!!post.post?.imageURL &&
                <div class="self-center"><a href={post.post.imageURL}>
                  <img class="rounded-lg" width={360} height={240} src={post.post.imageURL}
                       alt="post image"/>
                </a></div>}

              <div class="flex justify-between gap-32">
                <p class="text-gray-700 cursor-default">{post.id}</p>

                {!!post.post.postedAt &&
                  <p class="self-end cursor-default">
                    posted on
                    <FormattedDate date={post.post.postedAt}/>
                  </p>}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</main>
</body>
</html>
